<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="LOG_PATH" value="C:\Logs\" />
    <add key="LOG_APPLICATION_NAME" value="ABWebCatalogue" />
    <!--all;info;warning;error;fatal;off-->
    <add key="LOG_LEVEL" value="info" />
    <add key="LOG_MAX_FILE_SIZE_MBYTES" value="32" />
    <add key="LOG_MAX_DAYS_TO_KEEP" value="30" />
    <add key="LOG_FREE_DISK_SPACE" value="10" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <!--Mandatório para BCDWS-->
      <trace enabled="true" />
      <securityPolicy>
        <trustLevel name="Full" policyFile="internal"></trustLevel>
      </securityPolicy>
      <!--Mandatório para BCDWS-->
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <!--Mandatório para BCDWS-->
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <!--Mandatório para BCDWS-->
</configuration>
