<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Core.Properties.Settings.ConnectionStringMaster" connectionString="Dsn=DEV_MST;uid=db2tuser;mode=SHARE;dbalias=DEV_MST;pwd=12letmein"
            providerName="System.Data.Odbc" />
        <add name="Core.Properties.Settings.ConnectionStringBranchPT"
            connectionString="Dsn=BPT_SIT;uid=db8tutab;pwd=gto894asm;mode=SHARE;dbalias=BPT_SIT" />
        <add name="Core.Properties.Settings.ConnectionStringABL" connectionString="Dsn=SIT_ABL;uid=db2tuser;pwd=12letmein;mode=SHARE;dbalias=SIT_ABL"
            providerName="System.Data.Odbc" />
        <add name="Core.Properties.Settings.ConnectionStringCatalogue"
            connectionString="Server=C301BTC005.corebus2.barclays.org\TC005,5660;Database=catalogue;User Id=Catalogue;p@$$w0rd" />
    </connectionStrings>
    <applicationSettings>
        <Core.Properties.Settings>
            <setting name="DefaultCommandTimeoutmeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FileLocation" serializeAs="String">
                <value>C:\inetpub\config\Connections.config</value>
            </setting>
            <setting name="LogFileLocation" serializeAs="String">
                <value>C:\Logs</value>
            </setting>
            <setting name="WsProxyFileLocation" serializeAs="String">
                <value>C:\inetpub\config\WsProxy.config</value>
            </setting>
            <setting name="BCDWS" serializeAs="String">
                <value>http://bpcfsptln197.corebus2.barclays.org:8100/bcdws/bcdws.asmx</value>
            </setting>
        </Core.Properties.Settings>
    </applicationSettings>
</configuration>