<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="CommandTimeout" value="60" />
  </appSettings>
  <connectionStrings>
    <!-- Dsn=SIT_MST;uid=db2tuser;pwd=12letmein;mode=SHARE;dbalias=DEV_MST RHNuPVNJVF9NU1Q7dWlkPWRiMnR1c2VyO3B3ZD0xMmxldG1laW47bW9kZT1TSEFSRTtkYmFsaWFzPURFVl9NU1Q-->
    <!-- Dsn=DEV_MST;uid=db2tuser;pwd=12letmein;mode=SHARE;dbalias=DEV_MST RHNuPURFVl9NU1Q7dWlkPWRiMnR1c2VyO3B3ZD0xMmxldG1laW47bW9kZT1TSEFSRTtkYmFsaWFzPURFVl9NU1Q=-->
    <add name="ConnectionStringMaster"
         connectionString="RHNuPURFVl9NU1Q7dWlkPWRiMnR1c2VyO3B3ZD0xMmxldG1laW47bW9kZT1TSEFSRTtkYmFsaWFzPURFVl9NU1Q="
         providerName="System.Data.Odbc" />
    <!-- Dsn=BPT_SIT;uid=db8tutab;pwd=gto894asm;mode=SHARE;dbalias=BPT_SIT RHNuPUJQVF9TSVQ7dWlkPWRiOHR1dGFiO3B3ZD1ndG84OTRhc207bW9kZT1TSEFSRTtkYmFsaWFzPUJQVF9TSVQ=-->
    <!-- Dsn=DEV_MST;uid=db2tuser;pwd=12letmein;mode=SHARE;dbalias=DEV_MST RHNuPURFVl9NU1Q7dWlkPWRiMnR1c2VyO3B3ZD0xMmxldG1laW47bW9kZT1TSEFSRTtkYmFsaWFzPURFVl9NU1Q=-->
    <add name="ConnectionStringBranchPT"
         connectionString="RHNuPURFVl9NU1Q7dWlkPWRiMnR1c2VyO3B3ZD0xMmxldG1laW47bW9kZT1TSEFSRTtkYmFsaWFzPURFVl9NU1Q="
         providerName="System.Data.Odbc" />
    <!-- Dsn=SIT_ABL;uid=db2tuser;pwd=12letmein;mode=SHARE;dbalias=SIT_ABL U0lUX0FCTDt1aWQ9ZGIydHVzZXI7cHdkPTEybGV0bWVpbjttb2RlPVNIQVJFO2RiYWxpYXM9U0lUX0FCTA==-->
    <add name="ConnectionStringABL"
         connectionString="U0lUX0FCTDt1aWQ9ZGIydHVzZXI7cHdkPTEybGV0bWVpbjttb2RlPVNIQVJFO2RiYWxpYXM9U0lUX0FCTA=="
         providerName="System.Data.Odbc" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>