<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <services>
    <add name="BcdWs" proto="http" url="bpcfsptln197.corebus2.barclays.org" port="8100" endPointPrefix="bcdws"/>
    <add name="WcfServices" proto="http" url="localhost" port="45223" endPointPrefix=""/>
  </services>
</configuration>