

div.content {
    margin: 16px;
    width: 95%;
    font-family: Bankinter;
}

div.title {
    width: 100%;
    background-color: rgb(253, 101, 0);
    color: #FFF;
    font-size: 15px;
    text-align: right;
    padding: 10px;
}

div.panel-title{
    width: 100%;
    background-color: rgb(253, 101, 0);
    color: #FFF;
    font-size: 15px;
    padding: 10px;
}

div.panel-content{
    background-color: rgb(242, 242, 242);
    color: rgb(66, 99, 145); 
}


input.btn{
    background: rgb(253, 101, 0);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

input.btn-btn{
    margin-left: 20px;
}

a {
    text-decoration: none;
}


hr.hr {
    background: rgb(253, 101, 0);
    height: 0.5px;
    color: rgb(253, 101, 0);
}

